@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

body {
    font-family: "DM Sans", sans-serif;
    color: #36454F;
    text-align: center;
}

.websitev1 {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 50px;
}

.websitev2 {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 50px;
}

.web-img {
    width: 25%;
}

.mobilev1 {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 50px;
}

.mobilev2 {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 50px;
}

.mobile-img {
    width: 15%;
}

h3 {
    padding-top: 50px; 
    padding-bottom: 20px;
}
